<template name="detail">
	<div class="project-detail">
		<div class="well">
			<div class="row">
				<div class="col-md-9">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt má 4 totožné pôdorysy, obsahuje 40 bytových jednotiek kde prevažuje jeden rozmer okenného otvoru 2,25 x 2,25 m a jeden typ balónu 2,25 x 2 m. Parkovanie je umiestnené pod objektom v jame, ktorá vznikla po odstránení suterénu pôvodného objektu. O zníženie priemerných stavebných nákladov sa postaral hlavne vedľajší objekt s 12 bytovými jednotkami riešený triezvo a maximálne účelne. Na pozemku sa podarilo zachovať všetky jestvujúce stromy a tiež navýšiť zelené plochy.</p>
				</div>
				<div class="col-md-3">
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-block btn-lg">Kúpiť projekt <i class="glyphicon glyphicon-euro pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="project-gallery">
			<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			<img class="img-responsive" src="http://www.architekti.sk/files/0b9c5dc0e53b3b2eb78eefa43c617d5f.jpg" alt="">
		</div>
	</div>
</template>
