<template name="detail">
	{{#with plan}}
    <section id="catalog-detail">
        <div class="container">
            <p>{{description}}</p>
            <h2>Video</h2>
            <div class="detail-video">
                <iframe src="https://player.vimeo.com/video/125555548" width="1140" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <h2>Gléria</h2>
            <div class="detail-gallery">
            	{{#each galleryImages}}
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{url}}" class="img-responsive">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
	{{/with}}
</template>
