<template name="filter">
	<div class="plans-filter">
		<form class="form">
			<div class="row">
				<div class="col-md-3">
					<select class="form-control">
						<option>- typ domu -</option>
						{{#each getParameters "project-type"}}
						<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control">
						<option>- garáž -</option>
						{{#each getParameters "garage-type"}}
						<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control">
						<option>- strecha -</option>
						{{#each getParameters "roof-type"}}
						<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control">
						<option>- veľkosť -</option>
						{{#each getParameters "project-size"}}
						<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</form>
	</div>
</template>
