<template name="list">
	<section id="catalog-header" class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1>Katalóg</h1>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<label class="form-label">Filter projektov:</label>
						</div>
						<div class="col-md-8">
							{{> filter}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 
	<section id="catalog">
		{{#each plans}}
			{{> listItem}}
		{{/each}}
	</section>
</template>

<template name="listItem">
	<div class="catalog-row">
		<div class="row">
			<div class="col-sm-6">
				<a href="{{detailUrl}}" class="portfolio-box">
					<img src="{{galleryImage}}" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Zobraziť detaily
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6">
				<h2><a href="{{detailUrl}}">{{name}}</a></h2>
				<p>{{short description 200}}</p>
				<div class="project-attributes">
					<div class="attribute"><span>Typ domu</span> {{getParameter type}}</div>
					<div class="attribute"><span>Garáž</span> {{getParameter garage}}</div>
					<div class="attribute"><span>Strecha</span> {{getParameter roof}}</div>
				</div>
				{{#if currentUser}}
					<a href="#" class="btn btn-primary edit"><i class="glyphicon glyphicon-pencil"></i> Upraviť projekt</a>
				{{/if}}
				<div class="list-thumbnails">
					<div class="row">
						{{#each thumbnails}}
						<div class="col-md-2">
							<a href="{{detailUrl}}" class="img" style="background-image: url({{url}})"></a>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
