<template name="list">
	<div class="list">
		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/0b9c5dc0e53b3b2eb78eefa43c617d5f.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/7147056f690b80f7c35b5c8852c22981.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/dc096e6e5c697cd7ded4edc61b9f847c.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/cbe4165680ba9e2c418e7cfbe7ddbf10.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/953dddfe4d62d304a7494a551534972c.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/125d45416071d5a897ecf9db8ce00557.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/7147056f690b80f7c35b5c8852c22981.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/95e58cf0bc8594edbf2da5adc91149f6.gif" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>

		<div class="list-project">
			<div class="row">
				<div class="col-md-9">
					<div class="project-gallery">
						<a href="#" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						<a href="#" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<img class="img-responsive" src="http://www.architekti.sk/files/49ca0337fef0c21dbd7ed95a829ba52d.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3">
					<h1>Bytové domy Avana</h1>
					<p class="lead">Dva bytové domy sú navrhnuté na miestach pôvodného výrobného objektu a skladového objektu. Počiatočný zámer pôvodné objekty zrekonštruovať sa pre statické problémy nepodaril. Domy sa teda navrhli na pôvodných pôdorysoch. Obsahujú malé byty dostupné pre mladé rodiny, navrhnuté s cieľom čo najnižších stavebných nákladov. Hlavný objekt...</p>
					<div class="project-attributes">
						<div class="attribute"><span>rok</span> 2015</div>
						<div class="attribute"><span>miesto</span> Stupava</div>
						<div class="attribute"><span>úžitková plocha</span> 4500 m<sup>2</sup></div>
						<div class="attribute"><span>foto</span> Tomáš Manina</div>
						<div class="attribute"><span>klient</span> Avana residence, s.r.o.</div>
					</div>
					<a href="#" class="btn btn-primary btn-lg">Detaily / Kúpiť projekt <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</template>