<template name="modals">
	{{#if currentUser}}
		{{> createPlanModal}}
		{{> editPlanModal}}
	{{else}}
		{{> adminLoginModal}}
	{{/if}}
</template>

<template name="adminLoginModal">
	<div class="modal" id="admin-login-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<form>
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control" id="username" placeholder="Užívateľ">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="password" placeholder="Heslo">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Prihlásiť</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<template name="createPlanModal">
	<div class="modal" id="create-plan-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<form>
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Vytvoriť nový projekt</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="plan-name" placeholder="Názov">
						</div>
						<div class="form-group">
							<textarea class="form-control" id="plan-description" placeholder="Popis"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Vytvoriť</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<template name="editPlanModal">
	<div class="modal" id="edit-plan-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<form>
				{{#with plan}}
				<div class="modal-content">
					<div class="modal-header">
						<button type="submit" class="btn btn-success pull-right">Uložiť zmeny</button>
						<h4 class="modal-title">{{name}}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-name-edit" placeholder="Názov" value="{{name}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-slug-edit" placeholder="Slug" value="{{slug}}">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="form-control" id="plan-description-edit" placeholder="Popis">{{description}}</textarea>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Typ domu</label>
									<select class="form-control" id="plan-type">
										<option value="">- vyber -</option>
										{{#each getParameters "project-type"}}
										<option value="{{_id}}" {{isSelected 'type'}}>{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Garáž</label>
									<select class="form-control" id="plan-garage">
										<option value="">- vyber -</option>
										{{#each getParameters "garage-type"}}
										<option value="{{_id}}" {{isSelected 'garage'}}>{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Strecha</label>
									<select class="form-control" id="plan-roof">
										<option value="">- vyber -</option>
										{{#each getParameters "roof-type"}}
										<option value="{{_id}}" {{isSelected 'roof'}}>{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<label>Rozmery</label>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-landWidth" placeholder="Šírka pozemku" value="{{landWidth}}">
										<div class="input-group-addon">m</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-landLength" placeholder="Dĺžka pozemku" value="{{landLength}}">
										<div class="input-group-addon">m</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-rooftopHeight" placeholder="Max. výška strechy" value="{{rooftopHeight}}">
										<div class="input-group-addon">m</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-stories" placeholder="Počet poschodí" value="{{stories}}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-livingRoomCount" placeholder="Obytné miestnosti" value="{{livingRoomCount}}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-bathroomsCount" placeholder="Kúpeľne" value="{{bathroomsCount}}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-capacityMin" placeholder="Kapacita Osob Min" value="{{capacity.min}}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-capacityMax" placeholder="Kapacita Osob Max" value="{{capacity.max}}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" id="plan-entranceOrientation" placeholder="Orientácia vstupu do domu" value="{{entranceOrientation}}">
								</div>
							</div>
							<div class="col-sm-12">
								<label>Plocha</label>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-livingArea" placeholder="Obytná plocha" value="{{livingArea}}">
										<div class="input-group-addon">m<sup>2</sup></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-usedArea" placeholder="Zastavaná plocha" value="{{usedArea}}">
										<div class="input-group-addon">m<sup>2</sup></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" id="plan-usableArea" placeholder="Úžitková plocha" value="{{usableArea}}">
										<div class="input-group-addon">m<sup>2</sup></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Cena projektu domu</label>
									<div class="input-group">
										<input type="text" class="form-control" id="plan-planPrice" placeholder="0" value="{{planPrice}}">
										<div class="input-group-addon">&euro;</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Cena štúdie domu</label>
									<div class="input-group">
										<input type="text" class="form-control" id="plan-studyPrice" placeholder="0" value="{{studyPrice}}">
										<div class="input-group-addon">&euro;</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Cena realizácie domu</label>
									<div class="input-group">
										<input type="text" class="form-control" id="plan-housePrice" placeholder="0" value="{{housePrice}}">
										<div class="input-group-addon">&euro;</div>
									</div>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="form-group">
									<label>Fotografie interiér</label>
									<a href="#" class="btn btn-upload">
										<i class="glyphicon glyphicon-upload"></i> Nahrať obrázok
										<input type="file" multiple="true" id="plan-photosInterior">
									</a>
									<div class="photos">
										<div class="row">
											{{#each getPhotos 'interior'}}
											<div class="col-sm-1">
												<img src="{{this.url}}" class="img-rounded">
												<a href="#" class="remove" data-key="interior"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Fotografie exteriér</label>
									<a href="#" class="btn btn-upload">
										<i class="glyphicon glyphicon-upload"></i> Nahrať obrázok
										<input type="file" multiple="true" id="plan-photosExterior">
									</a>
									<div class="photos">
										<div class="row">
											{{#each getPhotos 'exterior'}}
											<div class="col-sm-1">
												<img src="{{this.url}}" class="img-rounded">
												<a href="#" class="remove" data-key="exterior"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Pohľady</label>
									<a href="#" class="btn btn-upload">
										<i class="glyphicon glyphicon-upload"></i> Nahrať obrázok
										<input type="file" multiple="true" id="plan-photosViews">
									</a>
									<div class="photos">
										<div class="row">
											{{#each getPhotos 'views'}}
											<div class="col-sm-1">
												<img src="{{this.url}}" class="img-rounded">
												<a href="#" class="remove" data-key="views"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Realizácie</label>
									<a href="#" class="btn btn-upload">
										<i class="glyphicon glyphicon-upload"></i> Nahrať obrázok
										<input type="file" multiple="true" id="plan-photosBuilds">
									</a>
									<div class="photos">
										<div class="row">
											{{#each getPhotos 'builds'}}
											<div class="col-sm-1">
												<img src="{{this.url}}" class="img-rounded">
												<a href="#" class="remove" data-key="builds"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="form-group">
									<label>Možný na dvojdom</label>
									<select class="form-control" id="plan-doubleHouseOption">
										<option value="0">Nie</option>
										<option value="1" {{isSelected 'doubleHouseOption'}}>Áno</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Vhodný na svahovitý pozemok</label>
									<select class="form-control" id="plan-suitableForHillside">
										<option value="0">Nie</option>
										<option value="1" {{isSelected 'suitableForHillside'}}>Áno</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Realizované</label>
									<div class="input-group">
										<input type="text" class="form-control" id="plan-built" value="{{dateFormat built}}">
										<div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Dokumentacia (vsetky suvisiace subory, aj cele zip)</label>
									<a href="#" class="btn btn-upload">
										<i class="glyphicon glyphicon-upload"></i> Nahrať súbor
										<input type="file" multiple="true" id="plan-documentation">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Uložiť zmeny</button>
						<a href="#" id="remove-plan" class="btn btn-danger pull-left">Vymazať projekt</a>
					</div>
				</div>
				{{/with}}
			</form>
		</div>
	</div>
</template>
