<template name="navbar">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-mainNavbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="/"><span class="logo"></span><b>PP</b> developing, s.r.o.</a>
				{{#with currentUser}}
				<ul class="nav navbar-nav admin-nav pull-right">
					<li>
						<span><i class="fa fa-user"></i> {{username}}</span>
					</li>
					<li>
						<a href="#create-plan-modal" data-toggle="modal"><i class="fa fa-plus"></i> Pridať projekt</a>
					</li>
					<li>
						<a href="#" class="logout"><i class="fa fa-sign-out"></i> Odhlásiť</a>
					</li>
				</ul>
				{{/with}}
			</div>

			<div class="collapse navbar-collapse" id="bs-mainNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#about">O nás</a></li>
					<li><a class="page-scroll" href="#services">Služby</a></li>
					<li><a class="page-scroll" href="#prices">Cenník</a></li>
					<li><a class="page-scroll" href="#contact">Kontakt</a></li>
					<li class="special"><a class="page-scroll" href="/katalog">Katalóg</a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>
